@{
    ViewData["Title"] = "Smart HRIS Dashboard";
}
<div class="text-center mt-5">
    <h1 class="display-6">Smart HRIS Dashboard</h1>
    <p class="lead">Choose an action</p>
    <div class="mt-4">
        <a class="btn btn-success m-2" href="/Employee/Create">Add Employee</a>
        <a class="btn btn-warning m-2" href="/Employee/UpdateSearch">Update Employee</a>
        <a class="btn btn-danger  m-2" href="/Employee/DeleteSearch">Delete Employee</a>
        <a class="btn btn-secondary m-2" href="/Employee">View All Employees</a>
    </div>
</div>
